<a href="https://colab.research.google.com/github/adag21044/python-for-data-science/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3rd video finished

Print

In [ ]:
# printing something
print("Hello There")

Hello There

Variables

In [ ]:
first_name = "George"
second_name = "Bush"
is_student = False;

print(first_name + " " + second_name)
print(f"Hello {first_name}")

age = 23
ratio = 0.3

George Bush
Hello George

Conditions

In [ ]:
is_student = True

if is_student:
    print("Student")
else:
    print("Not Student")

Student

Typecasting

In [ ]:
name = "George"
age = 21
gpa = 2.5
is_student = True

print(type(name))
print(type(age))
print(type(gpa))
print(type(is_student))

age = float(age)
print(type(age))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'float'>

Input

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")

age = int(age)

# age = int(input("Enter your age: "))

age += 1

print(f"Hello {name}")
print(f"You are {age} years old")

Enter your name: Brett
Enter your age: 21
Hello Brett
You are 22 years old

In [13]:
length = input("Enter the length: ")
width = input("Enter the width: ")

length = float(length)
width = float(width)

area = length * width

print(f"The area is {area}")

Enter the length: 5
Enter the width: 10
The area is 50.0