<a href="https://colab.research.google.com/github/adag21044/python-for-data-science/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6th video finished

Print

In [ ]:
# printing something
print("Hello There")

Hello There

Variables

In [ ]:
first_name = "George"
second_name = "Bush"
is_student = False;

print(first_name + " " + second_name)
print(f"Hello {first_name}")

age = 23
ratio = 0.3

George Bush
Hello George

Conditions

In [15]:
is_student = True

if (is_student):
    print("Student")
else:
    print("Not Student")

Student

In [18]:
response = input("Would you like to come ")

if(response == "yes"):
  print("Welcome")
else:
  print("Bye")

Would you like to come yes
Welcome

Typecasting

In [ ]:
name = "George"
age = 21
gpa = 2.5
is_student = True

print(type(name))
print(type(age))
print(type(gpa))
print(type(is_student))

age = float(age)
print(type(age))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'float'>

Input

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")

age = int(age)

# age = int(input("Enter your age: "))

age += 1

print(f"Hello {name}")
print(f"You are {age} years old")

Enter your name: Brett
Enter your age: 21
Hello Brett
You are 22 years old

In [5]:
x = 5

x = x**2
print(x)

25

In [7]:
import math

x = math.pi
print(math.ceil(x))
print(math.floor(x))

4
3

In [12]:
r = float(input("Enter radius "))
x = math.pi * r *2
a = math.pi * r**2

print(x)
print(round(x))
print(a)

Enter radius 2
12.566370614359172
13
12.566370614359172

Math

In [14]:
h = float(input())
l = float(input())

x = pow(h, 2) + l**2

x = math.sqrt(x)

print(x)

3
4
5.0

In [21]:
o = input("Choose you operation")
x = float(input("Enter first number"))
y = float(input("Enter second number"))

if(o == "+"):
  print(x + y)
elif(o == "-"):
  print(x - y)
elif(o == "*"):
  print(x * y)
elif(o == "/"):
  print(x / y)

Choose you operation*
Enter first number3
Enter second number5
15.0